body{
	background-color:black;
	color:#888;
	font:300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4{
	color:#648880;
}
h1{
	font-size:36px;
	line-height:44px;
}
h2{
	font-size:24px;
	line-height:44px;
}
h3{
	font-size:21px;
}
h4{
	font-size:18px;
}
h5{
	color:#a9b2b9;
	text-weight:400;
	font-size:14px;
	text-transform:uppercase;
}
strong{
	font-weight:400;
}
cite,
em{
	font-style:italic;
}
a{
	color:#648880;
	text-decoration:none;
}
a:hover{
	color:#a9b2b9;
}
.primary-header a,
.primary-footer a{
	color:#fff;
}
.primary-header a:hover,
.primary-footer a:hover{
	color:#648880;
}



*,
* : before,
* : after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.container{
    padding-left:25px;
    padding-right:25px;
}

.container,
.grid{
	margin : 0 auto;
	width:960px;

    }

		.col-1-3,
		.col-2-3{
			display:inline-block;
			vertical-align:top;
		}

.col-1-3{
    display:inline-block;
		width:25%;
		}
.col-2-3{
	width:65%;
}

.grid,
.col-1-3{
	padding-left:15px;
	padding-right:15px;

}


h1, h2, h3, h5, p{
    margin-bottom:22px;
}
.btn{
	color:#fff;
	font-weight:400;
	letter-spacing: .5px;
	text-transform:uppercase;
  border-radius:5px;
  display:inline-block;
  margin:90px;
}
.btn-alt{
    border:1px solid #fff;
    padding:10px 20px;
}
.btn-alt:hover{
	background:#fff;
	color:#648880;
}

.btn-pur{
	border:0;
	background:black;
	padding:11px 30px;
	font-size:14px;
	text-transform:uppercase;
	color:blue;

}
.btn-pur:hover{
	background:#77a198;
}
.primary-footer small{
    float:left;
		font-weight:400;
}
.primary-footer{
  	color:#648880;
    padding-bottom:44px;
    padding-top:44px;
		font-size:14px;
}
.intro{
	color:#fff;
	  line-height:44px;
    padding:22px 80px 66px 80px;
		text-align:center;
}
.intro h2{
	font-size:36px;
}
.intro p{
	font-size:24px;
}
.teaser a:hover h3{
	color:#a9b2b9;
}
.logo{
    border-top:solid #648880;
    padding:0 0 10px 0;
		line-height:24px;
		font-size:18px;
    float:left;
}
.tagline{
 left:80px;
 top:2px;
text-align:right;
}
.primary-nav{
	font-size:14px;
	font-weight:400;
	letter-spacing: 3px;
	text-transform:uppercase;
}
.nav{
	text-align:right;
}

.group:before,
.group:after{
  content:"";
display:table;
}
.group:after{
    clear:both;
}
.group{
    clear:both;
    *zoom:1;
}
.row{
	background:#fff;
	min-width:960px;
	padding:66px 0 44px 0;
}
form{
	margin-bottom:22px;
}
input,
select,
textarea{
	font: 300;
	font:300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label{
	color:#648880;
	font-weight:400;
}
.register-group input,
.register-group select,
.register-group textarea{
	border: 1px solid #c6c9cc;
	border-radius:6px;
	color:#888;
	display:block;
	margin: 5px 0 27px 0;
	padding: 5px 8px;

}
.register-group input,
.register-group textarea{
	width:100%;
}
.register-group select{
	height:34px;
	width:180px;
}
.register-group textarea{
	height:78px;
}
.merits{
	list-style:square;
	margin:0 0 22px 30px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
	margin: 0 0 0 790px;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.hints{
	margin:0 0 10px 40px;
	width:90%;    /* as mentioned */
	text-align:right;
	display:inline-block;
}
.regsec{
	display:inline-block;
	width:40%;      /* as mentioned */

}
